fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
twilio
apscheduler  # Excelente para el worker de tareas programadas
google-api-python-client
google-auth-oauthlib
msal
requests